# Base
numpy>=1.16.1
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.7.0

yacs==0.1.6

# Jupyter for analysis
jupyter-core==4.6.1

# HuggingFace
transformers=3.1.0